# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Entornos
.env
!.env.example

# Hatch
.hatch/

# Logs
*.log

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Node / Frontend
node_modules/
dist/
build/

# Docker
*.pid

# Temporales
*~
